## **TUGAS PRAKTIKUM 2 Selection Sort**

In [10]:
def selectionSort(alist):
  for slot in range(0,len(alist)-1):
    position=slot
    for location in range(slot+1,len(alist)):
      if alist[location]<alist[position]:
        position = location

    temp = alist[slot]
    alist[slot] = alist[position]
    alist[position] = temp
    print(alist)
number = [1,2,3,4,5,6,7,8,9,10]
selectionSort(number)
print(number)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

**CONTOH CODING TUPLE**

In [ ]:
# Menggabungkan dua tuple
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
combined_tuple = tuple1 + tuple2
print(combined_tuple)  # Output: (1, 2, 3, 4, 5, 6)

# Menggunakan metode count dan index
my_tuple = (1, 2, 2, 3, 4, 2)
count = my_tuple.count(2)  # Menghitung berapa kali angka 2 muncul dalam tuple
index = my_tuple.index(3)  # Menemukan indeks pertama angka 3 dalam tuple

print("Jumlah angka 2:", count)
print("Indeks pertama angka 3:", index)

# Mengakses elemen tuple dengan pengindeksan negatif
my_tuple = (10, 20, 30, 40, 50)
print(my_tuple[-1])  # Output: 50 (elemen terakhir)
print(my_tuple[-3])  # Output: 30 (elemen ketiga dari belakang)

# Membalik urutan tuple
my_tuple = (1, 2, 3, 4, 5)
reversed_tuple = my_tuple[::-1]
print(reversed_tuple)  # Output: (5, 4, 3, 2, 1)

# Menggunakan tuple sebagai kunci dalam dictionary
student_grades = {
    ("John", "Math"): 90,
    ("Alice", "Science"): 88,
    ("Bob", "Math"): 85
}

# Mengakses nilai berdasarkan kunci tuple
print("Nilai John dalam Matematika:", student_grades[("John", "Math")])

(1, 2, 3, 4, 5, 6)
Jumlah angka 2: 3
Indeks pertama angka 3: 3
50
30
(5, 4, 3, 2, 1)
Nilai John dalam Matematika: 90

**CONTOH CODING DICTIONARY**

In [1]:
# Membuat sebuah dictionary
student = {
    "nama": "Muhamad Reski M",
    "umur": "19",
    "jurusan": "Informatika"
}

# Mengakses nilai dalam dictionary
print("Nama:", student["nama"])
print("Umur:", student["umur"])
print("Jurusan:", student["jurusan"])

Nama: Muhamad Reski M
Umur: 19
Jurusan: Informatika

In [3]:
# Menggunakan dictionary untuk menyimpan data yang terstruktur
book = {
    "judul": "Python Programming",
    "pengarang": "Muhamad Reski M",
    "tahun_terbit": 2004
}

# Mengakses dan mencetak informasi buku
print("Judul Buku:", book["judul"])
print("Pengarang:", book["pengarang"])
print("Tahun Terbit:", book["tahun_terbit"])

Judul Buku: Python Programming
Pengarang: Muhamad Reski M
Tahun Terbit: 2004

In [5]:
# Dictionary bersarang (nested dictionary)
kelas = {
    "siswa": {
        "Reski": {
            "umur": 19,
            "nilai": 95
        },
        "Dippa": {
            "umur": 21,
            "nilai": 92
        }
    },
    "guru": {
        "Pak Guru 1": {
            "mata_pelajaran": "Matematika",
            "tahun_ajaran": 2023
        },
        "Pak Guru 2": {
            "mata_pelajaran": "Fisika",
            "tahun_ajaran": 2023
        }
    }
}

# Mengakses nilai dalam dictionary bersarang
print("Umur Reski:", kelas["siswa"]["Reski"]["umur"])
print("Mata Pelajaran Pak Guru 1:", kelas["guru"]["Pak Guru 1"]["mata_pelajaran"])

Umur Reski: 19
Mata Pelajaran Pak Guru 1: Matematika

**Contoh Coding untuk Tuple dan Dictionary**

In [6]:
# Menggabungkan Dictionary dengan Tuple
student_info = {
    "name": "Muhamad Reski M",
    "age": 19
}

grades = {
    "Matematika": 95,
    "Fisika": 85,
    "Kimia": 90
}

student_info["grades"] = grades

# Mengakses nilai-nilai dalam Dictionary bersarang
print(f"Nama: {student_info['name']}, Umur: {student_info['age']}")
for subject, score in student_info["grades"].items():
    print(f"{subject}: {score}")

Nama: Muhamad Reski M, Umur: 19
Matematika: 95
Fisika: 85
Kimia: 90

In [7]:
# Menggunakan Tuple dan Dictionary dalam kombinasi
data = {
    "nama": "Reski",
    "nilai": {"Matematika": 92, "Fisika": 87, "Kimia": 90},
    "aktivitas": ("Renang", "Bersepeda")
}

# Mengakses nilai-nilai dalam struktur data yang beragam
print(f"Nama: {data['nama']}")
print(f"Nilai Matematika: {data['nilai']['Matematika']}")
print(f"Aktivitas pertama: {data['aktivitas'][0]}")

Nama: Reski
Nilai Matematika: 92
Aktivitas pertama: Renang

In [9]:
# Tuple dalam Dictionary bersarang
classroom = {
    "kelas_A": {
        "siswa": ("Reski", "Dippa"),
        "nilai": (90, 85)
    },
    "kelas_B": {
        "siswa": ("Bob", "Charlie"),
        "nilai": (88, 92)
    }
}

# Mengakses elemen Tuple dalam Dictionary bersarang
print("Nilai Reski dalam Kelas A:", classroom["kelas_A"]["nilai"][0])
print("Nama-nama siswa dalam Kelas B:", classroom["kelas_B"]["siswa"])

Nilai Reski dalam Kelas A: 90
Nama-nama siswa dalam Kelas B: ('Bob', 'Charlie')